body {
  height: 500px;
  width : 700px;
  margin: 0;
}

.btn-fa-circle-sm {
  width        : 30px !important;
  height       : 30px !important;
  padding      : 4px 0px !important;
  border-radius: 15px !important;
  font-size    : 20px !important;
  text-align   : center !important;
  line-height  : 0em !important;
}

.btn-fa-circle-tn {
  width        : 20px !important;
  height       : 20px !important;
  padding      : 4px 0px !important;
  border-radius: 15px !important;
  font-size    : 10px !important;
  text-align   : center !important;
  line-height  : 0em !important;
}

.btn-form-popover {
  margin-left: 10px;
}